--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: google_vacuum_mgmt; Type: SCHEMA; Schema: -; Owner: cloudsqladmin
--

CREATE SCHEMA google_vacuum_mgmt;


ALTER SCHEMA google_vacuum_mgmt OWNER TO cloudsqladmin;

--
-- Name: google_vacuum_mgmt; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS google_vacuum_mgmt WITH SCHEMA google_vacuum_mgmt;


--
-- Name: EXTENSION google_vacuum_mgmt; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION google_vacuum_mgmt IS 'extension for assistive operational tooling';


--
-- Name: update_vote_count(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_vote_count() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF TG_OP = 'INSERT' THEN
        UPDATE future_matchups 
        SET vote_count = vote_count + 1 
        WHERE matchup_id = NEW.matchup_id;
        RETURN NEW;
    ELSIF TG_OP = 'DELETE' THEN
        UPDATE future_matchups 
        SET vote_count = vote_count - 1 
        WHERE matchup_id = OLD.matchup_id;
        RETURN OLD;
    END IF;
    RETURN NULL;
END;
$$;


ALTER FUNCTION public.update_vote_count() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: battles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.battles (
    id integer NOT NULL,
    emcee1_id integer,
    emcee2_id integer
);


ALTER TABLE public.battles OWNER TO postgres;

--
-- Name: battles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.battles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.battles_id_seq OWNER TO postgres;

--
-- Name: battles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.battles_id_seq OWNED BY public.battles.id;


--
-- Name: emcees; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.emcees (
    id integer NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE public.emcees OWNER TO postgres;

--
-- Name: emcees_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.emcees_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.emcees_id_seq OWNER TO postgres;

--
-- Name: emcees_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.emcees_id_seq OWNED BY public.emcees.id;


--
-- Name: future_battle_votes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.future_battle_votes (
    id integer NOT NULL,
    emcee1_id integer NOT NULL,
    emcee2_id integer NOT NULL,
    voter_cookie uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    CONSTRAINT future_battle_votes_check CHECK ((emcee1_id < emcee2_id))
);


ALTER TABLE public.future_battle_votes OWNER TO postgres;

--
-- Name: future_battle_votes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.future_battle_votes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.future_battle_votes_id_seq OWNER TO postgres;

--
-- Name: future_battle_votes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.future_battle_votes_id_seq OWNED BY public.future_battle_votes.id;


--
-- Name: future_matchups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.future_matchups (
    id integer NOT NULL,
    matchup_id character varying(50) NOT NULL,
    title character varying(255) NOT NULL,
    candidate1 character varying(100) NOT NULL,
    candidate2 character varying(100) NOT NULL,
    description text,
    status character varying(20) DEFAULT 'pending'::character varying,
    vote_count integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.future_matchups OWNER TO postgres;

--
-- Name: future_matchups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.future_matchups_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.future_matchups_id_seq OWNER TO postgres;

--
-- Name: future_matchups_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.future_matchups_id_seq OWNED BY public.future_matchups.id;


--
-- Name: future_votes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.future_votes (
    id integer NOT NULL,
    matchup_id character varying(50),
    voter_ip character varying(45) NOT NULL,
    voter_cookie character varying(255) NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.future_votes OWNER TO postgres;

--
-- Name: future_votes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.future_votes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.future_votes_id_seq OWNER TO postgres;

--
-- Name: future_votes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.future_votes_id_seq OWNED BY public.future_votes.id;


--
-- Name: battles id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.battles ALTER COLUMN id SET DEFAULT nextval('public.battles_id_seq'::regclass);


--
-- Name: emcees id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.emcees ALTER COLUMN id SET DEFAULT nextval('public.emcees_id_seq'::regclass);


--
-- Name: future_battle_votes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.future_battle_votes ALTER COLUMN id SET DEFAULT nextval('public.future_battle_votes_id_seq'::regclass);


--
-- Name: future_matchups id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.future_matchups ALTER COLUMN id SET DEFAULT nextval('public.future_matchups_id_seq'::regclass);


--
-- Name: future_votes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.future_votes ALTER COLUMN id SET DEFAULT nextval('public.future_votes_id_seq'::regclass);


--
-- Name: battles battles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.battles
    ADD CONSTRAINT battles_pkey PRIMARY KEY (id);


--
-- Name: emcees emcees_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.emcees
    ADD CONSTRAINT emcees_name_key UNIQUE (name);


--
-- Name: emcees emcees_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.emcees
    ADD CONSTRAINT emcees_pkey PRIMARY KEY (id);


--
-- Name: future_battle_votes future_battle_votes_emcee1_id_emcee2_id_voter_cookie_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.future_battle_votes
    ADD CONSTRAINT future_battle_votes_emcee1_id_emcee2_id_voter_cookie_key UNIQUE (emcee1_id, emcee2_id, voter_cookie);


--
-- Name: future_battle_votes future_battle_votes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.future_battle_votes
    ADD CONSTRAINT future_battle_votes_pkey PRIMARY KEY (id);


--
-- Name: future_matchups future_matchups_matchup_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.future_matchups
    ADD CONSTRAINT future_matchups_matchup_id_key UNIQUE (matchup_id);


--
-- Name: future_matchups future_matchups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.future_matchups
    ADD CONSTRAINT future_matchups_pkey PRIMARY KEY (id);


--
-- Name: future_votes future_votes_matchup_id_voter_ip_voter_cookie_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.future_votes
    ADD CONSTRAINT future_votes_matchup_id_voter_ip_voter_cookie_key UNIQUE (matchup_id, voter_ip, voter_cookie);


--
-- Name: future_votes future_votes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.future_votes
    ADD CONSTRAINT future_votes_pkey PRIMARY KEY (id);


--
-- Name: battles unique_battle; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.battles
    ADD CONSTRAINT unique_battle UNIQUE (emcee1_id, emcee2_id);


--
-- Name: future_votes trigger_update_vote_count; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_update_vote_count AFTER INSERT OR DELETE ON public.future_votes FOR EACH ROW EXECUTE FUNCTION public.update_vote_count();


--
-- Name: battles battles_emcee1_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.battles
    ADD CONSTRAINT battles_emcee1_id_fkey FOREIGN KEY (emcee1_id) REFERENCES public.emcees(id);


--
-- Name: battles battles_emcee2_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.battles
    ADD CONSTRAINT battles_emcee2_id_fkey FOREIGN KEY (emcee2_id) REFERENCES public.emcees(id);


--
-- Name: future_battle_votes future_battle_votes_emcee1_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.future_battle_votes
    ADD CONSTRAINT future_battle_votes_emcee1_id_fkey FOREIGN KEY (emcee1_id) REFERENCES public.emcees(id) ON DELETE CASCADE;


--
-- Name: future_battle_votes future_battle_votes_emcee2_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.future_battle_votes
    ADD CONSTRAINT future_battle_votes_emcee2_id_fkey FOREIGN KEY (emcee2_id) REFERENCES public.emcees(id) ON DELETE CASCADE;


--
-- Name: future_votes future_votes_matchup_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.future_votes
    ADD CONSTRAINT future_votes_matchup_id_fkey FOREIGN KEY (matchup_id) REFERENCES public.future_matchups(matchup_id);


--
-- Name: SCHEMA google_vacuum_mgmt; Type: ACL; Schema: -; Owner: cloudsqladmin
--

GRANT USAGE ON SCHEMA google_vacuum_mgmt TO cloudsqlsuperuser;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO cloudsqlsuperuser;


--
-- PostgreSQL database dump complete
--

